/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#fblogin {
  position: absolute;
  z-index: 99;
}

#map_canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}