<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
    <script type="text/javascript" src="src/map.js"></script>
    <script src="lib/crafty.js"></script>
    <script src="src/game.js"></script>
    <script src="src/components.js"></script>
    <script src="src/fblogin.js"></script>
    <script src="src/buttoncontrol.js"></script>

</head>
<body onload="initialize()">
<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="src/socket.js"></script>

<div id="container">
    <div id="titleAndLogIn">
        <h1 id="title"> Map Fight </h1>
        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true" onlogin = "testAPI()"></div>
        <div id="status"></div>
    </div>
    <div id="positionChooser">
        <div id="status2"></div>
        <h4 id="positionTitle"> Please choose your position </br></h4>
        <button id="PButton" onclick = "PButtonOnClick()">Preview</button>
        <button id="CButton" onclick = "CButtonOnClick()">Confirm!</button>
    </div>
    <div id="cr-stage">
        <img id="profileImage"></img>
    </div>
    <div id="map_canvas"></div>

</div>
</body>
</html>